html {
  font-size: 16px;
  --green-dark: #1E6140;
  --green-dark-hover: #347153;
  --green-light: #84C551;
  --brown-red: #8C3213;
  --color-search: #484848;
  --orange: #E74E13;
  --peach-bg: rgba(140, 50, 19, .06);
  --gray-light: #CCCCCC;


  --white: #FFFFFF;
  --black: #000000;
}

body,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  max-width: 1920px;
  overflow-x: hidden;

  @media screen and (max-width: 760px) {
    &.lock {
      overflow: hidden;
    }
  }

}

h1 {
  font-weight: 700;
  font-size: 3.438rem;
}

h2 {
  font-weight: 700;
  font-size: 2.813rem;
}

h5 {
  font-weight: 600;
  font-size: 1.125rem;
}

h6 {
  font-weight: 600;
  font-size: 1rem;
}

// .style-gradient-spot1 {
//   position: absolute;
//   content: '';
//   width: 580px;
//   height: 580px;
//   // border: 1px solid black;
//   top: -20vh;
//   right: -240px;
//   border-radius: 50%;
//   background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(231, 78, 19, 0.10) 0%, rgba(231, 78, 19, 0.00) 100%);
//   filter: blur(30px);
//   overflow: hidden;
//   z-index: -1;
// }

// .style-gradient-spot2 {
//   position: absolute;
//   content: '';
//   width: 712px;
//   height: 712px;
//   // border: 1px solid black;
//   top: 50vh;
//   right: -240px;
//   border-radius: 50%;
//   background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(231, 78, 19, 0.10) 0%, rgba(231, 78, 19, 0.00) 100%);
//   filter: blur(30px);
//   overflow: hidden;
//   z-index: -1;
// }

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper-main {
  width: 1124px;
  margin: 0 auto;
}

.title__2leaves {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    background-image: url(../img/grenn-style-ico.svg);
    width: 32px;
    height: 25px;
    top: 20px;
  }

  &::before {
    left: -50px;
  }

  &::after {
    right: -50px;
    transform: scaleX(-1);
  }

}