html {
  font-size: 16px;
  --green-dark: #1E6140;
  --green-dark-hover: #347153;
  --green-light: #84C551;
  --brown-red: #8C3213;

  --white: #FFFFFF;
}

body,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  max-width: 1920px;

  @media screen and (max-width: 760px) {
    &.lock {
      overflow: hidden;
    }
  }

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper-main {
  width: 1124px;
  margin: 0 auto;
}