.footer__container {
  padding-top: 100px;
}

.footer__wprapper {
  padding: 0px 10px;

  @media screen and (max-width: 1170px) {
    width: auto;
  }
}

.footer__content__style__container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 100px;

  @media screen and (max-width: 950px) {
    gap: 40px;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.footer__content__style {}

.footer__style__logo {}

.footer__logo__link {
  display: block;

  img {
    width: 110px;
    height: 50px;
    object-fit: fill;
  }
}

.footer__logo__text {
  color: rgba(0, 0, 0, .6);
  max-width: 220px;
  margin-top: 20px;
}

.footer__style__info-goods {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  @media screen and (max-width: 950px) {
    gap: 40px;
  }

  @media screen and (max-width: 900px) {
    justify-content: space-evenly;
  }
}

.footer__col__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info__title {}

.info__item {}

.info__link {
  font-size: 1.125rem;
  color: var(--black);
}

.footer__col__goods {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.goods__title {}

.goods__item {}

.goods__link {
  font-size: 1.125rem;
  color: var(--black);
}

.footer__style__contacts {
  display: flex;
  flex-direction: column;
}

.contacts__title {}

.footer__phones__container {
  display: flex;
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
  top: 8px;
  left: 576px;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
  }

  &:hover a:nth-child(3),
  &:hover a:nth-child(4) {
    display: block;
  }

  // @media screen and (max-width: 1140px) {
  //   left: 530px;
  // }

  // @media screen and (max-width: 998px) {
  //   left: 440px;
  //   top: -4px;
  // }

  // @media screen and (max-width: 900px) {
  //   display: none;
  // }
}

.phones__group {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & a {
    color: var(--black);
  }

  & a:nth-child(2) {
    margin-top: 5px;
    color: var(--green-light);
    text-decoration: underline;
    font-weight: 700;
    font-size: .875rem;
  }

  & a:nth-child(3) {
    margin-top: 20px;
    display: none;
  }

  & a:nth-child(4) {
    margin-top: 20px;
    display: none;
  }
}

.footer__email__container {
  display: flex;
  gap: 10px;
  text-align: center;
  // justify-content: center;
  margin-top: 20px;
  padding-left: 10px;
  vertical-align: baseline;
}

.email__group {
  display: flex;
  justify-content: baseline;

  a {
    display: block;
    color: var(--black);
    text-align: center;
  }
}

.footer__copy {
  color: rgba(0, 0, 0, .6);
  padding: 10px 0px;
  margin: 0 auto;
  text-align: center;
}

.footer__arrow__up {}