.wrapper-main.products-store__wrapper {
  padding: 50px 0px;
  text-align: center;

  // background-color: #E5E5E5;
  @media screen and (max-width: 1150px) {
    width: auto;
    padding: 50px 10px;
  }
}

.wrapper-main {}

.products-store__title {
  @media screen and (max-width: 700px) {
    font-size: 2.25rem;

    &::before,
    &::after {
      top: 12px;
    }
  }

  @media screen and (max-width: 600px) {
    font-size: 1.5rem;

    &::before,
    &::after {
      top: 4px;
    }
  }

  @media screen and (max-width: 440px) {
    max-width: 286px;

    &::before {
      left: -8px;
    }

    &::after {
      right: -8px;
    }
  }
}

.products-store__main-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.blure__filter-bg {
  @media screen and (max-width: 880px) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 10;
    transition: all 0.05s ease;
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
    }
  }
}

.products-store__filters-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 256px;
  min-width: 216px;
  flex-grow: 0;
  background-color: var(--white);
  border-radius: 20px;
  margin-top: 52px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease;
  transition-delay: 0.09s;

  @media screen and (max-width: 880px) {
    position: fixed;
    margin-top: 5px;
    top: 10px;
    left: 0;
    border-radius: 0px 20px 20px 0px;
    transform: translateX(-100%);

    &.active {
      transform: translateX(0);
    }
  }
}

.filers__inner__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 16px 30px;
}

.products__filters-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--green-light);
  color: var(--white);
  padding: 16px 20px;
  border-radius: 20px 20px 0px 0px;

  @media screen and (max-width: 880px) {
    border-radius: 0px 20px 0px 0px;
  }
}

.filters-header__arrow {
  position: absolute;
  background: transparent;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  top: 0px;
  left: 50px;
  height: 50px;
  width: 50px;
  border: none;
  transform: rotate(270deg);
  cursor: pointer;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;

  &:active {
    transform: rotate(270deg);
  }

  @media screen and (max-width: 880px) {
    visibility: visible;
  }
}

.filter__title {}

.product__filter__label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.product__filter__checkbox {
  // display: grid;
  // place-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  background: transparent;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  width: 17px;
  height: 17px;
  border: 1px solid var(--gray-light);
  border-radius: 3px;
  transform: translateY(-0.075em);

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--green-light);
  }

  &:checked::before {
    transform: scale(1);
    border-color: var(--green-light);
  }
}

.product__filter__name {}

.products-store__products-container {
  flex-grow: 1;
}

.products-store__select-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px 20px;

  @media screen and (max-width: 880px) {
    justify-content: space-between;
    padding: 16px 0px;
  }
}

.filter__sidebar-toggle-btn {
  background-color: var(--green-light);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 12px 40px;
  display: none;
  cursor: pointer;

  @media screen and (max-width: 880px) {
    display: block;
  }
}

.products-store__select {}

.products__items-list {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;

}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 32px 10px 10px 10px;
  position: relative;
  gap: 32px;
  flex-grow: 1;
  max-width: 256px;
  min-width: 240px;
  transition: all 0.3s ease;
  background-color: var(--white);
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.03);
  }
}

.product__weights-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  top: -4px;
  right: -4px;
}

.product__weights-ico {}

.product__main-img__wrapper {
  max-width: 98px;
  max-height: 132px;
  margin: 0 auto;
}

.product__main-img {
  object-fit: fill;
}

.product__inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px 24px 20px;
  background-color: var(--peach-bg);
  border-radius: 20px;
}

.product__name {}

.product__avaliability {
  margin-top: 5px;
  font-size: .875rem;
  color: var(--green-dark);
}

.product__price {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--green-light);
}

.product__ammount {
  margin-top: 5px;
  font-size: .875rem;
}

.product__cart-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  bottom: 20px;
  right: 12px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(141, 50, 0, 0.2), 0 6px 20px 0 rgba(141, 50, 0, 0.19);
    transform: scale(1.03);
  }
}

.product__cart-ico {}