.navbar {
  background-color: var(--green-dark);
  display: flex;
  height: 50px;
}

.navbar .wrapper-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.navbar a {
  display: block;
  color: var(--white);
  font-weight: 300;
  padding: 15px 4px;

  &:hover {
    background-color: var(--green-dark-hover);
  }

  @media screen and (max-width: 976px) {
    font-size: 1.125rem;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 46px;

  @media screen and (max-width: 1100px) {
    gap: 30px;
  }

  @media screen and (max-width: 1020px) {
    gap: 20px;
  }
}

.nav__submenu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 49px;
  background-color: var(--green-dark-hover);
  min-width: 222px;
  border-radius: 0 0 20px 20px;
  z-index: 3;

  &:hover .dropdownd-menu {
    background-color: var(--green-dark-hover);
  }
}

.nav__submenu__item>a {
  padding-left: 20px;
  border-radius: 20px;
}

.dropdownd-menu {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    border-left: 2px solid var(--green-light);
    border-bottom: 2px solid var(--green-light);
    width: 8px;
    height: 8px;
    right: -12px;
    bottom: 22px;
    transform: rotate(315deg);
    transition: all .5s ease 0s;
  }

  &:hover {
    background-color: var(--green-dark-hover);
  }

  &:hover .nav__submenu__list {
    display: block;
  }

  &:hover::after {
    transform: rotate(135deg);
    bottom: 18px;
  }

}

.dropdownd-menu:hover .dropdownd-menu::after {
  transform: rotate(200deg);
}

.header__burger {
  width: 28px;
  height: 28px;
  position: relative;
  margin: auto 20px;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: '';
    background-color: var(--green-light);
    width: 100%;
    height: 5px;
    left: 0;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active .bureger__line {
    transform: scale(0);
  }

  &.active::before {
    transform: rotate(45deg);
    top: 11px;
  }

  &.active::after {
    transform: rotate(-45deg);
    bottom: 12px;
  }
}

.bureger__line {
  position: absolute;
  background-color: var(--green-light);
  width: 100%;
  height: 4px;
  top: 42%;
  left: 0;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}

.burger {
  display: none;

  @media screen and (max-width: 976px) {
    display: block;
  }
}

.bureger__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background: var(--green-light);
  left: 0;
}

nav {
  @media screen and (max-width: 1190px) {
    margin-left: 10px;
  }

  @media screen and (max-width: 976px) {
    display: none;
  }
}

.vertical-line {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 100%;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.user-login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    margin-left: 40px;
  }
}

.logi-variant {
  padding: 0 8px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 14px;
    left: -16px;
    background-image: url(../img/login-ico.svg);
    background-repeat: no-repeat;
    height: 17px;
    width: 17px;
  }
}

.vertical-separator {
  border-left: 1px solid var(--white);
  height: 16px;
  padding: 8px 0;
  margin: auto 0;
}

.registration-variant {
  padding: 0 8px;
}


///////////header 2 section ///////////
.search-cart-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.header__logo {}

.header__form {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 30px;
}

.header__form__input {
  width: 342px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  outline: none;
  padding: 0px 50px 0px 22px;
  color: var(--color-search);
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
}

.header__form__button {
  position: absolute;
  border: none;
  background: transparent;
  right: 18px;
  top: 12px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 12px;
}

.header__phones__container {
  position: absolute;
  display: flex;
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
  top: 8px;
  left: 576px;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
  }

  &:hover a:nth-child(3),
  &:hover a:nth-child(4) {
    display: block;
  }
}

.phones__group {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & a {
    color: var(--black);
  }

  & a:nth-child(2) {
    margin-top: 5px;
    color: var(--green-light);
    text-decoration: underline;
    font-weight: 700;
    font-size: .875rem;
  }

  & a:nth-child(3) {
    margin-top: 20px;
    display: none;
  }

  & a:nth-child(4) {
    margin-top: 20px;
    display: none;
  }
}

.header__icons_groupe {
  display: flex;
  align-items: center;
  margin-left: 420px;
  gap: 10px;
}

.cart__total {
  font-weight: 700;
  font-size: .75rem;
}

.header__icon__item {
  position: relative;
  display: block;
}

.header__icons__counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: var(--green-light);
  color: var(--white);
  font-size: .625rem;
}

.weighter-counter {
  top: 16px;
  right: 132px;
}

.cart-conter {
  top: 16px;
  right: 82px;
}


///////////header 3 section ///////////



.markets-sections {
  margin-top: 24px;
}

.wrapper-main {}

.markets {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.market__item {}

.market__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 202px;
  height: 40px;
  border: 1px solid var(--green-dark);
  border-radius: 50px;

  svg {
    width: 24px;
    height: 24px;
  }

  span {
    color: var(--black);
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &:hover {
    background-color: var(--orange);
    border-color: var(--orange);
  }

  &:hover span {
    color: var(--white);
  }

  &:hover path {
    fill: var(--white);
  }
}