.navbar {
  background-color: var(--green-dark);
  display: flex;
  max-height: 50px;
}

.navbar .wrapper-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.navbar a {
  display: block;
  color: var(--white);
  font-weight: 300;
  padding: 15px 4px;

  &:hover {
    background-color: var(--green-dark-hover);
  }
}

my arrow {
  position: absolute;
  content: "";
  border-left: 1px solid var(--green-light);
  border-bottom: 1px solid var(--green-light);
  width: 5px;
  height: 5px;
  right: -5px;
  bottom: 7px;
  transform: rotate(315deg);
  transition: all .5s ease 0s;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 46px;

  @media screen and (max-width: 1100px) {
    gap: 30px;
  }

  @media screen and (max-width: 1020px) {
    gap: 20px;
  }
}

.nav__submenu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 49px;
  background-color: var(--green-dark-hover);
  min-width: 222px;
  border-radius: 0 0 20px 20px;
  z-index: 3;

  &:hover .dropdownd-menu {
    background-color: var(--green-dark-hover);
  }
}

.nav__submenu__item>a {
  padding-left: 20px;
  border-radius: 20px;
}

.dropdownd-menu {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    border-left: 2px solid var(--green-light);
    border-bottom: 2px solid var(--green-light);
    width: 8px;
    height: 8px;
    right: -12px;
    bottom: 22px;
    transform: rotate(315deg);
    transition: all .5s ease 0s;
  }

  &:hover {
    background-color: var(--green-dark-hover);
  }

  &:hover .nav__submenu__list {
    display: block;
  }

  &:hover::after {
    transform: rotate(135deg);
    bottom: 18px;
  }

}

.dropdownd-menu:hover .dropdownd-menu::after {
  transform: rotate(200deg);
}

.header__burger {
  width: 28px;
  height: 28px;
  position: relative;
  margin: auto 20px;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: '';
    background-color: var(--green-light);
    width: 100%;
    height: 5px;
    left: 0;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active .bureger__line {
    transform: scale(0);
  }

  &.active::before {
    transform: rotate(45deg);
    top: 11px;
  }

  &.active::after {
    transform: rotate(-45deg);
    bottom: 12px;
  }
}

.bureger__line {
  position: absolute;
  background-color: var(--green-light);
  width: 100%;
  height: 4px;
  top: 42%;
  left: 0;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}

.burger {
  display: none;

  @media screen and (max-width: 976px) {
    display: block;
  }
}

.bureger__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background: var(--green-light);
  left: 0;
}

nav {
  @media screen and (max-width: 1190px) {
    margin-left: 10px;
  }

  @media screen and (max-width: 976px) {
    display: none;
  }
}

.vertical-line {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 100%;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.user-login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    margin-left: 40px;
  }
}

.logi-variant {
  padding: 0 8px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 14px;
    left: -16px;
    background-image: url(../img/login-ico.svg);
    background-repeat: no-repeat;
    height: 17px;
    width: 17px;
  }
}

.vertical-separator {
  border-left: 1px solid var(--white);
  height: 16px;
  padding: 8px 0;
  margin: auto 0;
}

.registration-variant {
  padding: 0 8px;
}