.modal-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(2px);
  z-index: 1001;
  padding: 10px;
}

.modal__container {
  display: flex;
  padding: 48px 94px 60px;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 238, 236, 1);
  border-radius: 20px;
  position: relative;

  @media screen and (max-width: 620px) {
    padding: 20px;
  }
}

.modal__close {
  position: absolute;
  top: -36px;
  right: -36px;
  background: transparent;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;

  &::before,
  &::after {
    background: rgba(255, 255, 255, .6);
    border-radius: 20px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    transition: all .3s ease 0s;
    width: 100%;
  }

  &::before {
    top: 13px;
    transform: rotate(45deg);
  }

  &::after {
    bottom: 12px;
    transform: rotate(-45deg);
  }

  @media screen and (max-width: 475px) {
    right: 0px;

  }
}

.modal__scroll__container {
  max-height: 74vh;
  overflow-y: scroll;
}

.product-cart__container {}

.cart__title {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  position: relative;

  &::before,
  &::after {
    background-image: url(../img/grenn-style-ico.svg);
    content: "";
    height: 25px;
    position: absolute;
    top: 20px;
    width: 32px;
  }

  &::before {
    left: -40px;
  }

  &::after {
    right: -40px;
    transform: scaleX(-1);
  }

  @media screen and (max-width: 768px) {
    font-size: 1.875rem;

    &::before,
    &::after {
      top: 6px;
    }
  }
}

.cart__list {
  display: flex;
  flex-direction: column;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  padding: 30px 0px;
  margin-top: 28px;
  border-top: 1px solid rgba(0, 0, 0, .1);

  &:nth-last-child(1) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);

  }
}

.cart__product-name {
  font-weight: 700;
  font-size: 1.563rem;

  @media screen and (max-width: 768px) {
    font-size: 1.1rem;
  }
}

.cart__product__img-price__wrapper {
  display: flex;

  @media screen and (max-width: 990px) {
    flex-direction: column;
    gap: 20px;
  }
}

.product__img__wrapper {
  padding: 32px 96px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  border-radius: 20px;
  background-color: var(--white);
  max-width: 286px;

  img {
    max-height: 128px;
    max-width: 92px;
    object-fit: contain;
  }

  @media screen and (max-width: 990px) {
    margin: 0 auto;
  }

  @media screen and (max-width: 475px) {
    padding: 20px 40px;
  }
}

.product__price__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: center;

  @media screen and (max-width: 990px) {
    margin-left: 0px;

  }
}

.product__price {
  font-weight: 700;
  font-size: 1.563rem;
  color: var(--green-light);
}

.product__manufacturer__price-text {
  font-size: 0.875rem;
}

.product__manufacturer__title {
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: 26px;
}

.product__manufacturer__img-name__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;

  div {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, .7);
    align-items: center;
  }

  @media screen and (max-width: 990px) {
    justify-content: flex-start;
    gap: 10px;
  }
}

.quantity__wrapper {
  display: flex;
  align-items: center;
  margin-left: 120px;
  padding-right: 40px;

  @media screen and (max-width: 1060px) {
    margin-left: 60px;
    padding-right: 20px;
  }

  @media screen and (max-width: 990px) {
    margin-left: 0px;
    padding-right: 0px;
  }

}

.quantity__control__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.quantity__name {
  font-weight: 700;
}

.quantity__decriment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-light);
  color: var(--white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  outline: none;
  border-color: var(--green-light);
  position: relative;

  &:active {
    transform: translateY(2px);
  }

  &::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 1px;
    background-color: var(--white);
    left: 6px;
    top: 9px;
  }

}

.quantity__amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .2);
}

.quantity__increment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-light);
  color: var(--white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  outline: none;
  border-color: var(--green-light);
  position: relative;

  &:active {
    transform: translateY(2px);
  }

  &::before {
    position: absolute;
    content: '';
    width: 9px;
    height: 1px;
    background-color: var(--white);
    left: 5px;
    top: 9px;
  }

  &::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 8px;
    background-color: var(--white);
    left: 9px;
    top: 6px;
  }
}

.cart__buttons__wraper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 10px;


  @media screen and (max-width: 810px) {
    flex-direction: column;
    margin-top: 20px;
  }
}

.store__return {
  display: flex;
  align-items: center;
  padding: 12px 28px;
  border: 1px solid var(--orange);
  border-radius: 20px;
  gap: 20px;
  font-weight: 700;
  color: var(--orange);

  path {
    fill: var(--orange);
  }

  &:hover {
    background-color: var(--orange);
    color: var(--white);

    path {
      fill: var(--white);
    }
  }

  @media screen and (max-width: 990px) {
    max-width: 60%;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    justify-content: center;
  }

  @media screen and (max-width: 418px) {
    padding: 12px;
  }

  @media screen and (max-width: 330px) {
    gap: 6px;
  }
}

.go__buy {
  display: flex;
  align-items: center;
  padding: 12px 38px;
  border: 1px solid var(--orange);
  border-radius: 20px;
  background-color: var(--orange);
  color: var(--white);
  gap: 10px;
  font-weight: 700;

  &:hover {
    background-color: transparent;
    color: var(--orange);

    path {
      fill: var(--orange);
    }
  }

  @media screen and (max-width: 990px) {
    max-width: 60%;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    justify-content: center;
  }

  @media screen and (max-width: 418px) {
    padding: 12px;
  }
}