@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 16px;
  --green-dark: #1E6140;
  --green-dark-hover: #347153;
  --green-light: #84C551;
  --brown-red: #8C3213;
  --white: #FFFFFF;
}

body,
body *,
body *::before,
body *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  max-width: 1920px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper-main {
  width: 1124px;
  margin: 0 auto;
}

.navbar {
  background-color: var(--green-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 50px;
}

.navbar .wrapper-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar a {
  display: block;
  color: var(--white);
  font-weight: 300;
  padding: 15px 4px;
}

.navbar a:hover {
  background-color: var(--green-dark-hover);
}

my arrow {
  position: absolute;
  content: "";
  border-left: 1px solid var(--green-light);
  border-bottom: 1px solid var(--green-light);
  width: 5px;
  height: 5px;
  right: -5px;
  bottom: 7px;
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 46px;
}

.nav__submenu__list {
  display: none;
  position: absolute;
  left: 0;
  top: 49px;
  background-color: var(--green-dark-hover);
  min-width: 222px;
  border-radius: 0 0 20px 20px;
  z-index: 3;
}

.nav__submenu__list:hover .dropdownd-menu {
  background-color: var(--green-dark-hover);
}

.nav__submenu__item > a {
  padding-left: 20px;
  border-radius: 20px;
}

.dropdownd-menu {
  position: relative;
}

.dropdownd-menu::after {
  position: absolute;
  content: "";
  border-left: 2px solid var(--green-light);
  border-bottom: 2px solid var(--green-light);
  width: 8px;
  height: 8px;
  right: -12px;
  bottom: 22px;
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.dropdownd-menu:hover {
  background-color: var(--green-dark-hover);
}

.dropdownd-menu:hover .nav__submenu__list {
  display: block;
}

.dropdownd-menu:hover::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  bottom: 18px;
}

.dropdownd-menu:hover .dropdownd-menu::after {
  -webkit-transform: rotate(200deg);
      -ms-transform: rotate(200deg);
          transform: rotate(200deg);
}

.header__burger {
  width: 28px;
  height: 28px;
  position: relative;
  margin: auto 20px;
  cursor: pointer;
}

.header__burger::before,
.header__burger::after {
  position: absolute;
  content: "";
  background-color: var(--green-light);
  width: 100%;
  height: 5px;
  left: 0;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger.active .bureger__line {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11px;
}

.header__burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 12px;
}

.bureger__line {
  position: absolute;
  background-color: var(--green-light);
  width: 100%;
  height: 4px;
  top: 42%;
  left: 0;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger {
  display: none;
}

.bureger__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background: var(--green-light);
  left: 0;
}

.vertical-line {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 100%;
}

.user-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logi-variant {
  padding: 0 8px;
  position: relative;
}

.logi-variant::before {
  position: absolute;
  content: "";
  top: 14px;
  left: -16px;
  background-image: url(../img/login-ico.svg);
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
}

.vertical-separator {
  border-left: 1px solid var(--white);
  height: 16px;
  padding: 8px 0;
  margin: auto 0;
}

.registration-variant {
  padding: 0 8px;
}

h1.hey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: green;
}

span.hey {
  font-size: 20px;
}

p.hey {
  color: rebeccapurple;
}

@media screen and (max-width: 1190px) {
  nav {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1100px) {
  .nav__list {
    gap: 30px;
  }
}

@media screen and (max-width: 1020px) {
  .nav__list {
    gap: 20px;
  }
}

@media screen and (max-width: 976px) {
  .burger {
    display: block;
  }

  nav {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  body.lock {
    overflow: hidden;
  }

  span.hey {
    font-size: 30px;
  }

  p.hey {
    color: gray;
  }
}

@media screen and (max-width: 600px) {
  .vertical-line {
    display: none;
  }

  .user-login {
    margin-left: 40px;
  }
}